.hero-preview {
    border: solid 1px rgb(236, 202, 202);
    border-radius: 5px;
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -0.5px 1px 8px #d8dcd6;
}

.hero-preview a {
    position: absolute;
    margin-top: 1em;
    box-shadow: -0.5px 1px 8px #d8dcd6;
    background-color: rgb(255, 249, 240);
    font-size: 1.3em;
    color: #704d5e;
}

.bottom-card {
    display: flex;
    align-items: center;
}

.action-card {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.action-card img {
    width: 3em;
}

.btn-fight {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column-reverse;
    background-color: rgb(255, 249, 240);
    border: 0.5px solid #d8d8d8;
    border-radius: 0.4em;
    box-shadow: -0.5px 1px 8px #d8dcd6;
    padding: 0.7em;
    font-weight: 500;
    color: #4d7d7e;
}

.btn-x {
    background-color: #f1ede7;
    border: solid 0.8px #dcd1d1;
    border-radius: 5px;
    color: #d2643b;
    margin-bottom: 2px;
    font-size: 0.95em;
}