<section class="details-cont">
    <div>
        <div class="details-data">
            <div>Name: <span>{{hero.name}}</span></div>
            <div>Type of: <span>{{hero.typeOf}}</span></div>
            <div>Attack: <span>{{hero.attacks}}</span></div>
            <div>Power: <span>{{hero.power}}</span></div>
            <div>Life: <span>{{hero.life}}</span></div>
        </div>
    </div>
    
    <img src="https://robohash.org/{{hero._id}}?set=set1" alt="">
    <button (click)="onBack()">Back</button>
  
</section>