<section class="rules-page">
    <h1>Welcome to HeroBatlle</h1>
    <br>
    <p><span>You need to get as much HeroCoin, and Heroes as you can</span></p>
    <p> <span>You do it by battling the monsters!</span> </p>
    <br>
    <p>For every <span>win in a battle</span>  - you earn 30 HeroCoins.</p>
    <p>For every <span>lose in a battle</span> - you lose 30 HeroCoins.</p>
    <p>If you prefer money of one of your hero - you can SELL it(X button)</p>
    <br>
    <p>When lose a battle, your hero drop 1 life.</p>
    <p>When a hero <span>run out life</span> - he is out of the game! - <span>Delete!</span> </p>

    <p>Dont forget to check out our new Store!!</p>
    <br>
    <p> <span>Enjoy - and go catch them all!</span></p>
    <div routerLink="/">Start</div>

</section>
