.battle-page h1 {
    text-align: center;
    font-size: 2em;
    /* color: rgb(65, 55, 55); */
    font-weight: 500;
    color: #4c4a4a;
}

.robots {
    display: flex;
    gap: 8em;
}

button {
    background-color: #f1ede7;
    border: solid 0.8px #dcd1d1;
    border-radius: 5px;
    color: #d2643b;
    margin-bottom: 2px;
    font-size: 1.3em;
}

.life-hero {
    text-align: end;
    margin-right: 7em;
    font-size: 1.3em;
}

@media (max-width: 500px) {
    .battle-page h1 {
        margin-top: 4em;
    }

    .robots {
        gap: 0em;
    }

    .robots img {
        width: 190px;
    }

    button {
        height: 1.9em;
        width: 3.5em
    }

    .life-hero {
        margin-right: 3em;
    }
}