<section class="market">
    <div class="headline-store">All in one place for your warrior!</div>
   
    <br>
    <br>
    <div class="main-store">
        <add-hero></add-hero>

        <div class="right-side-store">
            <h2>Buy Medicine</h2>
            <h4>to heal your warriors</h4>
            <div class="med-catalog">

                <div class="card-market">
                    <img src="../../../assets/imgs/medicine.png" alt="">
                    <h3>First Aid</h3>
                    <h5>20% of life! <br> for 1 warrior</h5>
                    <br>
                    <div>Price: <span>50</span></div>
                </div>
                <div class="card-market">
                    <img src="../../../assets/imgs/medicine (1).png" alt="">
                    <h3>Extra Care</h3>
                    <h5>50% of life <br> for 2 warriors!</h5>
                    <br>
                    <div>Price: <span>80</span></div>
                </div>
                <div class="card-market">
                    <img src="../../../assets/imgs/first-aid-kit.png" alt="">
                    <h3>The Doctor Kit</h3>
                    <h5>50% of life <br> for 4 warriors!</h5>
                    <br>
                    <div>Price: <span>120</span></div>
                </div>

            </div>
            
        </div>
    </div>
</section>

