<section class="market">
    <div class="headline-store">All in one place for your warrior!</div>
   
    <br>
    <br>
    <div class="main-store">
        <add-hero></add-hero>

        <div class="right-side-store">
            <h2>Buy Medicine</h2>
            <h4>to heal your warriors</h4>
            <div class="med-catalog">

                <div (click)="buyAid(-50,1)" class="card-market">
                    <!-- <img src="../../../assets/imgs/medicine.png" alt=""> -->
                    <img src="./assets/imgs/medicine.png" alt="">

                    <h3>First Aid</h3>
                    <h5>1 aid unit <br> for your warrior life!</h5>
                    <br>
                    <div>Price: <span>50</span></div>
                    <!-- <div class="not-anough-1"><span>not anough money</span></div> -->
                </div>
                <div (click)="buyAid(-80,3)" class="card-market">
                    <!-- <img src="../../../assets/imgs/medicine2.png" alt=""> -->
                    <img src="./assets/imgs/medicine2.png" alt="">

                    <h3>Extra Care</h3>
                    <h5>3 aid units! <br> if you extra care ;)</h5>
                    <br>
                    <div>Price: <span>80</span></div>
                </div>
                <div (click)="buyAid(-120,6)" class="card-market">
                    <!-- <img src="../../../assets/imgs/first-aid-kit.png" alt=""> -->
                    <img src="./assets/imgs/first-aid-kit.png" alt="">

                    <h3>The Doctor Kit</h3>
                    <h5>6 aid units! <br> be the Doctor!</h5>
                    <br>
                    <div>Price: <span>120</span></div>
                </div>

            </div>
            
        </div>
        <div class="ballance-modal" [ngClass]="{'show-modal':availableStatus === 0}">Ballance too <br> low</div>
    </div>
</section>

